// Replace these colours once the colour shades are figured out, they currently look weird
$sidebar--dark-background: #373A36;
$sidebar__button--active-colour: #CEE599;
$sidebar__button--active--dark-colour: #5F615E;
$sidebar__button--dark-colour: $sidebar--dark-background;
